{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH blog #}
{# This page can use any data from http:localhost:2000/cms/#/form/blog/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this blog's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<div class="row">
    <h1>{{ item.name }}</h2>

    <div>
      {{ item.body|safe }}
    </div>

    <div>
      {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
      {% for relation in item.tags %}
        {% if loop.first %}<strong>Tags: </strong>{% endif %}
        {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
        <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      <p class="blog-footer">Published {{ item.publish_date|date('jS F, Y.') }}</p>
    </div>
</div>
{% endblock %}
