<div class="container">
	<div class="row logo">
  		<div class="col-sm-6">
			<a href="/"><img src="/static/images/logo.png" class="logo-icon center-block" /></a>
		</div>
		<div class="col-sm-6">
			<a href="/"><img src="/static/images/logo-text.png" class="logo-text center-block" /></a>
			<div class="tag-line">Software Developers With Attitude</div>
			<div class="menu">
				<ul>
					<li><a href="/">Blog</a></li>
					<li><a href="/page/portfolio/">Portfolio</a></li>
				</ul>
			</div>
			<div class="menu sub-menu">
				<ul>
					<li><a href="/tag/video-games/">Video Games</a></li>
					<li><a href="/tag/technology/">Technology</a></li>
					<li><a href="/tag/sonic-marathon/">Sonic</a></li>
				</ul>
			</div>
		</div>
	</div>


{# Simple search form, remove from search index #}
<!-- <form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form> -->
