<div class="container">
	<div class="row logo">
  		<div class="col-sm-6">
			<a href="/"><img src="/static/images/logo.png" class="logo-icon center-block" /></a>
		</div>
		<div class="col-sm-6">
			<a href="/"><img src="/static/images/logo-text.png" class="logo-text center-block" /></a>
			<div class="menu">
				<ul>
					<li><a href="">Menu 1</a></li>
					<li><a href="">Menu 2</a></li>
					<li><a href="">Menu 3</a></li>
				</ul>
			</div>
		</div>
	</div>


{# Simple search form, remove from search index #}
<!-- <form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form> -->
