{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block head_extra %}
<meta name="description" content="{% block description %}{{ site_description|default('Built with Webhook.') }}{% endblock %}">
{% endblock %}

{% block content %}
<div class="row">
  {# The first thing we do is call blog data from the CMS. #}
  {% set data = cms.blog %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}
  {% set data = paginate(data, 10) %}

  {# This forloop can use any data from http:localhost:2000/cms/#/form/blog/ #}
    {% for object in data %}
      <h2><a href="{{ url(object) }}">{{ object.name }}</a></h2>

      <div>
      {{ object.body|safe }}
      </div>

      <div class="blog-footer">
        {# Relationship. Note that use the label you set for the relation, not the content-type name. #}
        {% for relation in object.tags %}
          {% if loop.first %}Tags:{% endif %}
          {# You can ouput more than just the name. Feel free to output more fields from the CMS. #}
          <a href="{{ url(relation) }}">{{ relation.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
        <p>Published {{ object.publish_date|date('jS F, Y.') }}</p>
      </div>
    {% endfor %}

  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}
</div>
{% endblock %}
